<div class="carton-bingo">
    <table>
        <tr>
            <th>B</th>
            <th>I</th>
            <th>N</th>
            <th>G</th>
            <th>O</th>
        </tr>
        <tr>
            <td class="number">15</td>
            <td class="number">24</td>
            <td class="number">35</td>
            <td class="number">51</td>
            <td class="number">68</td>
        </tr>
        <tr>
            <td class="number">7</td>
            <td class="number">19</td>
            <td class="number">42</td>
            <td class="number">53</td>
            <td class="number">71</td>
        </tr>
        <tr>
            <td class="number">3</td>
            <td class="number">28</td>
            <td class="number">FREE</td>
            <td class="number">47</td>
            <td class="number">74</td>
        </tr>
        <tr>
            <td class="number">9</td>
            <td class="number">22</td>
            <td class="number">39</td>
            <td class="number">56</td>
            <td class="number">66</td>
        </tr>
        <tr>
            <td class="number">14</td>
            <td class="number">25</td>
            <td class="number">33</td>
            <td class="number">50</td>
            <td class="number">72</td>
        </tr>
    </table>
</div>