<div class="container">
    <div class="scrollable-table-container">
    <table class="scrollable-table">
        <thead>
          <tr>
            <th>Número de Sala</th>
            <th>Nombre de Sala o Lobby</th>
            <th>Cantidad de Jugadores</th>
            <th>Contador</th>
            <th>Estado</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of lobbys" >
            <td>{{item.id}}</td>
            <td>{{item.nombreSala}}</td>
            <td>{{item.limite}}</td>
            <td>{{item.contador}}</td>
            <td>{{item.estado}}</td>
            <td><button type="button" (click)="join(item.id)" class="ingresar-btn">Ingresar</button></td>
          </tr>
          <!-- Añade más filas según tus necesidades -->
        </tbody>
    </table>
    <button type="button" (click)="logout()">Salir</button>
      </div>
</div>
