<table class="table_list">
    <tr>
        <th>Jugadores</th>
    </tr>
    <tr>
        <td>Juan Pérez</td>
    </tr>
    <tr>
        <td>María González</td>
    </tr>
    <tr>
        <td>Carlos Ramírez</td>
    </tr>
    <tr>
        <td>Sofía López</td>
    </tr>
    <tr>
        <td>Pedro Rodríguez</td>
    </tr>
    <tr>
        <td>Laura García</td>
    </tr>
    <tr>
        <td>Andrés Torres</td>
    </tr>
    <tr>
        <td>Ana Martínez</td>
    </tr>
    <tr>
        <td>Javier Castro</td>
    </tr>
    <tr>
        <td>Isabella Silva</td>
    </tr>
    <tr>
        <td>Luisa Vargas</td>
    </tr>
</table>