

/* Estilos CSS para los contenedores */
 /* Estilos CSS para los contenedores */
 .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgb(133, 236, 240);
}

.balotas_container,
.list_container {

    padding: 10px;
    width: 200px;
}

.card_container {
    background-color: #f2f2f2;
    padding: 10px;
    margin: 50px auto;
}

/* .container{
        margin: 100px auto;
} */
table {
    width: 200px;
    border-collapse: collapse;
    /* margin-bottom: 80px; */
}

th {
    padding: 5px;
    text-align: center;
    background-color: #e0e0e0;
    font-weight: bold;
    font-size: 18px;
}

td {
    padding: 5px;
    text-align: center;
    background-color: #fff;
    font-size: 16px;
    border: 1px solid #ccc;
}


